@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
    string success = ViewBag.success;
}

@if (!string.IsNullOrEmpty(success))
{
    <div class="alert alert-success">
        <strong>@success</strong>
    </div>
}

