@{
    ViewBag.Title = "Hệ thống quản lý nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="background">
    <span id="content">
        <p class="title">HỆ THỐNG QUẢN LÝ NHÂN VIÊN</p>
        <span>Công ty trách nhiệm hữu hạn 1 thành viên</span>
        <a href="~/Home/Index"><button>Bắt đầu</button></a>
    </span>
    <img src="~/Content/imgs/image-game-background.jpg" alt="anh-nen">
</div>

<style>
    #main {
        max-width: 100% !important;
        width: 100%;
        padding: 0;
        margin: 0;
    }
</style>