* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.6;
    font-family: var(--font-family);
}

:root {
    --font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#background {
    position: relative;
}

img {
    width: 100%;
}

#content {
    position: absolute;
    z-index: 999;
    background-color: white;
    opacity: 0.8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    width: 60%;
    height: 40%;
    min-width: 320px;
    min-height: 200px;
    justify-content: center;
    padding: 10px;
}

#content p, #content button, #content span {
    font-weight: 600;
    font-size: 20px;
}

#content .title {
    font-size: 28px;
    color: rgba(33,37,41,1);
}

p {
    margin: 0;
}

#content a {
    display: contents;
}

    #content a button {
        max-width: 80%;
        margin: 20px 0;
        padding: 12px 24px;
        color: white;
        font-size: 16px;
        background: rgba(33,37,41,1);
        margin-left: 50%;
        transform: translateX(-50%);
    }

#content a button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    #content p, #content button, #content span {
        font-size: 16px;
    }

    #content .title {
        font-size: 20px;
    }

    .d-bl {
        display: block !important;
    }
}

#sidebar-nav .nav-item:first-child .nav-link:first-child:hover {
    opacity: 0.8;
}

#sidebar-nav .nav-item:first-child .nav-link:last-child i {
    color: #000000;
}

#sidebar-nav .nav-item:first-child .nav-link:last-child:hover {
    background-color: red;
    color: #ffffff !important;
}

#sidebar-nav .nav-item:first-child .nav-link:last-child:hover i {
    color: #ffffff;
}