.input {
    padding: 12px 24px !important;
}

.mb-1-5 {
    margin-bottom: 1.5rem !important;
}

* {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

#password, #password-repeat, #oldPassword, #newPassword, #repeatNewPassword {
    padding: 0 !important;
    border: none !important;
}

#password:focus, #password-repeat:focus, #oldPassword:focus, #NewPassword:focus, #RepeatNewPassword:focus {
    box-shadow: none;
}

.input-password, .input-password-repeat, .input-old-password, .input-new-password, .input-repeat-new-password {
    display: flex;
    flex-direction: row;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
}

input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.btn:hover {
    opacity: 0.8;
}

@media (max-width: 992px) {
    .img-form {
        display: none!important;
    }
}