@{
    ViewBag.Title = "_Header";
    Program.Models.UserLogin userSession = (Program.Models.UserLogin)Session[DefineSession.userSession];
}
@using Program.Models;
@using Program.Define; 
<link href="~/Content/style/header.css" rel="stylesheet" />
<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="padding: 0">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Home" style="text-align: right">
                    <span>Website</span><br /><span>Management</span>
                </a>
                @if (userSession != null) { 
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" onclick="hide_show_sidebar()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                    <ul class="nav navbar-nav">
                        @if (userSession != null)
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link" id="link-home" href="#"><i class="fa-solid fa-bars" onclick="hide_show_sidebar()" style="font-size: 30px"></i></a></li>
                        }
                        <li class="nav-item" role="presentation"><a class="nav-link" id="link-home" href="~/Home/Index">Home</a></li>
                    </ul>
                    @if (userSession == null)
                    {
                        <div class="two-btns">
                            <span class="navbar-text"> <a class="login" href="~/User/Login">Log In</a></span>
                            <a class="btn btn-light action-button" role="button" href="~/User/Register">Sign up</a>
                        </div>
                    }
                    else
                    {
                        <div class="two-btns">
                            <span class="btn btn-light action-button d-flex" role="button" style="align-items: unset" onclick="hide_Show_Menu()">
                                @userSession.username
                                <i class="fa-solid fa-sort-down" style="margin-left: 5px"></i>
                            </span>
                            <ul class="menu-items d-none">
                                <a class="item-1" href="~/User/Profile">
                                <li class="d-flex flex-row align-items-center"><i class="fa-solid fa-id-badge" style="color: #000000; margin-right: 10px"></i><span>My profile</span></li></a>
                                <a class="item-2" href="~/User/Logout">
                                <li class="d-flex flex-row align-items-center"><i class="fa-solid fa-right-from-bracket" style="color: #000000; margin-right: 10px"></i><span>Log Out</span></li></a>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </div>
</div>
<script>
    var menu = document.getElementsByClassName('menu-items')[0];
    var btn = document.querySelector('.btn.btn-light.action-button');
    var btnRoot = document.getElementById('root');
    if (btn != null && menu != null)
        document.addEventListener('click', function (element) {
            if (element.target != menu && element.target != btn) {
                menu.classList.add('d-none');
            }
        })
    function hide_Show_Menu() {
        menu.classList.toggle('d-none');
    }
    function hide_show_sidebar() {
        btnRoot.classList.toggle('toggle-sidebar');
    }
</script>