@{ 
    UserLogin userSession = (UserLogin)Session[DefineSession.userSession];
}
@using Program.Models.DB;
@using Program.Models;
@using Program.Define;
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Home/Index">
                <i class="fa-solid fa-house"></i>
                <span>Trang chủ</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item" id="sidebar-user" style="background-color: rgba(33,37,41,1); color: #ffffff; margin-bottom: 2px">
            <a class="nav-link collapsed open-list" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-solid fa-user" style="color: #ffffff"></i>
                <span>@userSession.username</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="~/User/Profile">
                        <i class="fa-solid fa-id-card"></i><span>My profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-shuffle"></i><span>Đổi mật khẩu</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-right-from-bracket"></i><span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed open-list" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-users"></i><span>Nhân sự</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-lock"></i><span>Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-check"></i><span>Thông tin chấm công</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-person-harassing"></i><span>Thông tin khen thưởng kỷ luật</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-rectangle-list"></i><span>Ca làm</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-building"></i><span>Phòng ban</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-gears"></i><span>Bộ phận</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-pen"></i><span>Lịch sử thao tác</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="fa-solid fa-list-check"></i>
                <span>Chấm công</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->
    </ul>

</aside><!-- End Sidebar-->

<script>
    $(document).ready(function () {
        $('.open-list').click(function () {
            $(this).parent().children('.nav-content').slideToggle();
        })
    })
</script>