@model Program.Models.Account
@using Program.Define;
@using Program.Models;
@{
    ViewBag.Title = "Page login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Account account = Model;
    if (account == null)
    {
        account = new Account();
    }
    string error = ViewBag.error;
    ViewBag.pageNow =
        new LocationPage(DefinePage.home,
            new LocationPage(DefinePage.user,
                new LocationPage(DefinePage.user_Login)));
}
<link href="~/Content/style/userstyle.css" rel="stylesheet" />
<section class="vh-100">
    <div class="container" style="margin: 0; max-width: 100%">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12" style="padding: 0">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-1-5 mx-1 mx-md-4 mt-4">@DefinePage.user_Login.name</p>
                                <form id="form-login" class="mx-1 mx-md-4" action="~/user/login" method="post">

                                    @if (!string.IsNullOrEmpty(error))
                                    {
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            @error
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    }

                                    <div class="d-flex flex-row align-items-center">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="username" class="input form-control" name="username" placeholder="Input your username" value="@account.username" autofocus="true" />
                                            <p class="text-danger" id="errorUsername"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center">
                                        <div class="form-outline flex-fill mb-0">
                                            <span class="input form-control input-password">
                                                <input type="password" show id="password" class="input form-control" name="password" placeholder="Input your password" />
                                                <i class="fa-solid fa-eye" onclick="viewPassword()"></i>
                                                <i class="fa-solid fa-eye-slash d-none" onclick="hidePassword()"></i>
                                            </span>
                                            <p class="text-danger" id="errorPassword"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center flex-wrap justify-content-between mb-4">
                                        <div>
                                            <input type="checkbox" id="remember" name="remember" checked="@account.remember" value="true" />
                                            <label for="remember">Duy trì đăng nhập</label>
                                        </div>
                                        <div>
                                            <a href="#" class="text-decoration-underline">Forgot username</a>
                                            <span>|</span>
                                            <a href="/User/ForgetPassword" class="text-decoration-underline">password</a>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-4 mb-3 mb-lg-4 flex-wrap" style="justify-content: space-evenly;">
                                        <a href="#">
                                            <button onclick="submitForm()"
                                                    type="button" class="btn btn-primary btn-lg" style="background-color:#0D6EFD; border: 0;">
                                                Login
                                            </button>
                                        </a>
                                        <a href="~/Home/Index">
                                            <button type="button" class="btn btn-primary btn-lg" style="background-color:#808080; border: 0;">
                                                Cancel
                                            </button>
                                        </a>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4 justify-content-center">
                                        <div class="">
                                            <label for="register">
                                                Bạn chưa có tài khoản?
                                                <a href="~/User/Register" class="text-decoration-underline">Đăng ký</a>
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="~/Content/imgs/img-of-login.jpg"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script>
        document.getElementById('username').onkeypress = function () { document.getElementById("errorUsername").innerText = '' }
        document.getElementById('password').onkeypress = function () { document.getElementById("errorPassword").innerText = '' }
        function submitForm() {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            let errorUsername = document.getElementById("errorUsername");
            let errorPassword = document.getElementById("errorPassword");
            username = username.trim();
            errorUsername.innerHTML = "";
            errorPassword.innerHTML = "";
            if (username.length < 5 || password.length < 6 || username.indexOf(' ') != -1) {

                if (username.length < 5) {
                    errorUsername.innerHTML = "Tên đăng nhập phải có từ 5 ký tự trở lên"
                }
                if (password.length < 6) {
                    errorPassword.innerHTML = "Mật khẩu phải có từ 6 ký tự trở lên";
                }
                if (username.indexOf(' ') != -1) {
                    errorUsername.innerHTML = "Tên đăng nhập không được chứa ký tự dấu cách"
                }
                return;
            }

            document.getElementById('form-login').submit();
        }
        function viewPassword() {
            document.getElementById('password').type = 'text';
            document.querySelector('.fa-solid.fa-eye-slash.d-none').classList.remove('d-none');
            document.querySelector('.fa-solid.fa-eye').classList.add('d-none');
        }
        function hidePassword() {
            document.getElementById('password').type = 'password';
            document.querySelector('.fa-solid.fa-eye-slash').classList.add('d-none');
            document.querySelector('.fa-solid.fa-eye.d-none').classList.remove('d-none');
        }
    </script>
