@model Program.Models.DB.ThanhVien
@using Program.Models.DB;
@using Program.Define;
@using Program.Models;
@{
    ViewBag.Title = "Profile";
    ThanhVien thanhVien = Model;
    ViewBag.pageNow = 
        new LocationPage(DefinePage.home,
            new LocationPage(DefinePage.user,
                new LocationPage(DefinePage.user_Profile)));
}
@if (thanhVien != null)
{
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/imgs/avatar.png" alt="Avatar" class="rounded-circle" style="width: 250px">
                    <h4  style="margin: 10px 0">@thanhVien.TV_HoVaTen</h4>
                    @*@thanhVien.CongViecDaLams.Last().CongViec.CV_Ten*@
                    <div class="items">
                        <a href="~/User/ChangePassword" class="btn btn-secondary">Change Password</a>
                        <a href="~/User/Logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Thông tin</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="info">
                                <h5 class="title-info card-title">About</h5>
                                <div class="content-info">
                                    <ul>
                                        <li>
                                            <p class="small fst-italic">
                                                Sunt est soluta temporibus accusantium neque nam maiores
                                                cumque temporibus. Tempora libero non est unde veniam est
                                                qui dolor. Ut sunt iure rerum quae quisquam autem eveniet
                                                perspiciatis odit. Fuga sequi sed ea saepe at unde.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="info">
                                <h5 class="title-info card-title">Profile Details</h5>
                                <div class="content-info">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                                <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Company</div>
                                                <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Job</div>
                                                <div class="col-lg-9 col-md-8">Web Designer</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Country</div>
                                                <div class="col-lg-9 col-md-8">USA</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Address</div>
                                                <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="info">
                                <h5 class="title-info card-title">Quá trình làm việc</h5>
                                <div class="content-info">
                                    <ul class="history">
                                        <li class="history-item">
                                            <h6 class="history-item-title">9/2017 - 3/2019</h6>
                                            <ul class="detail-job">
                                                <li>Công việc: </li>
                                                <li>Làm việc tại: </li>
                                                <li>Chức vụ: </li>
                                                <li>Ghi chú: lên chức</li>
                                            </ul>
                                        </li>
                                        <li class="history-item">
                                            <h6 class="history-item-title">4/2019 - Nay</h6>
                                            <ul class="detail-job">
                                                <li>Công việc: </li>
                                                <li>Làm việc tại: </li>
                                                <li>Chức vụ: </li>
                                                <li>Ghi chú: đang làm</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="info">
                                <h5 class="title-info card-title">Khen thưởng kỷ luật</h5>
                                <div class="content-info">
                                    <ul class="khen-thuong-ky-luat">
                                        <li class="ktkl-item khen-thuong">
                                            <span class="ktkl-title">
                                                Thông tin khen thưởng - (Số lượng: 2)
                                            </span>
                                            <ul>
                                                <li>
                                                    <span>STT: 1</span>
                                                    <ul>
                                                        <li>Ngày: 15/11/2023</li>
                                                        <li>Lý do: làm việc hiệu suất cao</li>
                                                        <li>Số tiền:</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span>STT: 2</span>
                                                    <ul>
                                                        <li>Ngày: 12/11/2023</li>
                                                        <li>Lý do: </li>
                                                        <li>Số tiền:</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="ktkl-item vi-pham">
                                            <span class="ktkl-title">
                                                Thông tin vi phạm - (Số lượng: 2)
                                            </span>
                                            <ul>
                                                <li>
                                                    <span>STT: 1</span>
                                                    <ul>
                                                        <li>Ngày: 12/11/2023</li>
                                                        <li>Lý do: đi muộn</li>
                                                        <li>Số tiền phạt:</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span>STT: 2</span>
                                                    <ul>
                                                        <li>Ngày: 13/11/2023</li>
                                                        <li>Lý do: ăn trong giờ làm</li>
                                                        <li>Số tiền phạt:</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>
}
else
{
    <h2>Null</h2>
}